<%= form_with(model: profile, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :profile_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :profile_subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :profile_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>