<div class="card" data-id="<%= profile_item.id %>">
  <%= image_tag profile_item.thumb_image unless profile_item.thumb_image.nil? %>
   <p class="card-text"><span>
    <%= link_to profile_item.title, profile_show_path(profile_item) %></span>

      <%= profile_item.subtitle %>
      <%= profile_item.body %>
  </p>
       <%= link_to "Show", profile_show_path(profile_item.id) %>
      <%= link_to "Edit", edit_profile_path(profile_item) %>
      <%= link_to "Delete profile Item", profile_path(profile_item), method: :delete, data: { confirm: 'Are you sure?' } %>
  
</div>

<%# <% @profile_items.each do |profile_item| %>