<%= render "shared/app_nav" %>

<h1>Homie Sweets = </h1>
<p>Find your Spot</p>
<h3>Profiles Main</h3>
<h2>Posts</h2>
<%= link_to "Create Profile", new_profile_path %>
<hr>
<%= link_to "View Profiles", profiles_path %>

<hr>

<%= link_to "Edit Profile", edit_user_registration_path %>
<hr>
<h2>Blogs </h2>
<%= link_to "Blogs", blogs_path %>

